<c-callout class="bg-white:dark:bg-transparent" color="info">
  <ng-container *ngTemplateOutlet="defaultTpl" />
</c-callout>

<ng-template #defaultTpl>
  <ng-container *ngIf="name() as componentName">
    <p>
      An Angular {{ componentName }} component{{ plural() ? 's' : '' }} {{ plural() ? 'have' : 'has' }} been created as a native
      Angular
      version
      of Bootstrap {{ componentName }}. {{ plural() ? 'are' : 'is' }} delivered with some new features,
      variants, and unique design that matches CoreUI Design System requirements.
    </p>
  </ng-container>

  <ng-content />

  <br>
  For more information please visit our official <a href="{{href()}}" target="_blank">documentation of CoreUI Components Library for Angular.</a>
</ng-template>
